<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProduccionAvicola.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProduccionAvicola.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProduccionAvicola.Properties.Settings.maeharaConnectionString"
            connectionString="Data Source=sql1;Initial Catalog=maehara;Persist Security Info=True;User ID=sa;Password=Paraguay2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <ProduccionAvicola.Properties.Settings>
            <setting name="sap_server" serializeAs="String">
                <value>SQL1</value>
            </setting>
            <setting name="sap_companydb" serializeAs="String">
                <value>maehara</value>
            </setting>
            <setting name="sap_dbusername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="sap_dbpassword" serializeAs="String">
                <value>Paraguay2017</value>
            </setting>
            <setting name="lista_generica" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="version_sistema" serializeAs="String">
                <value>1.2.2.10</value>
            </setting>
            <setting name="sap_servertype" serializeAs="String">
                <value>2014</value>
            </setting>
            <setting name="cta_mortandad_pollitos" serializeAs="String">
                <value>10.01.11.99.07</value>
            </setting>
            <setting name="cta_consumo_bal_pollitos" serializeAs="String">
                <value>10.01.11.99.01</value>
            </setting>
            <setting name="cta_produccion_huevos" serializeAs="String">
                <value>10.01.11.99.99</value>
            </setting>
            <setting name="cta_consumo_vacuna_pollitos" serializeAs="String">
                <value>10.01.11.99.04</value>
            </setting>
            <setting name="cta_calcico" serializeAs="String">
                <value>5.01.01.03.03</value>
            </setting>
            <setting name="cta_consumo_bal_ponedoras" serializeAs="String">
                <value>10.01.11.99.02</value>
            </setting>
            <setting name="cta_consumo_vacuna_ponedoras" serializeAs="String">
                <value>10.01.11.99.05</value>
            </setting>
            <setting name="cta_mortandad_ponedoras" serializeAs="String">
                <value>10.01.11.99.08</value>
            </setting>
            <setting name="sap_companydb_cla" serializeAs="String">
                <value>GrupoMaehara</value>
            </setting>
            <setting name="cod_huevo_SC" serializeAs="String">
                <value>HVO-00001</value>
            </setting>
            <setting name="cta_consumo_insumos_pollitos" serializeAs="String">
                <value>10.01.11.99.10</value>
            </setting>
            <setting name="centro_costo_CCH" serializeAs="String">
                <value>41301099</value>
            </setting>
            <setting name="centro_costo_OVO" serializeAs="String">
                <value>43101099</value>
            </setting>
            <setting name="add_server" serializeAs="String">
                <value>172.16.1.202</value>
            </setting>
            <setting name="add_dbusername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="add_dbpass" serializeAs="String">
                <value>Paraguay2017</value>
            </setting>
            <setting name="add_db" serializeAs="String">
                <value>CONTROL_CAJAS</value>
            </setting>
            <setting name="cta_consumo_cch" serializeAs="String">
                <value>5.01.01.04.07</value>
            </setting>
            <setting name="cta_costos_recria" serializeAs="String">
                <value>10.01.11.99.09</value>
            </setting>
        </ProduccionAvicola.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ProduccionAvicola.Properties.Settings>
            <setting name="centro_costo_FS" serializeAs="String">
                <value>27101099</value>
            </setting>
            <setting name="centro_costo_FC" serializeAs="String">
                <value>42309004</value>
            </setting>
        </ProduccionAvicola.Properties.Settings>
    </userSettings>
</configuration>
